<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097175702254-27elhvpve075969cqd3cqfaj5cbvtr66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097175702254-27elhvpve075969cqd3cqfaj5cbvtr66</string>
	<key>API_KEY</key>
	<string>AIzaSyB9BrabOax-LezbqMFGtVD36YS9giCqmB0</string>
	<key>GCM_SENDER_ID</key>
	<string>1097175702254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.targetly</string>
	<key>PROJECT_ID</key>
	<string>targetly</string>
	<key>STORAGE_BUCKET</key>
	<string>targetly.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097175702254:ios:c7320b74b95a7e5d78f1ff</string>
</dict>
</plist>